{
  https_port   8443
  debug
}

localhost:8443 {

  route {

    # Ensure we have a valid JWT
    jwt_valid {
      secret "AllYourBase"
      has_claim foo bar
    }

  }

  log {
      level debug
      output file ./bin/access.log
      format single_field common_log
    }
}