{
  https_port   8443
  debug
}

localhost:8443 {

  route {

    # Ensure we have a valid JWT
    jwt_valid {
      secret "AllYourBase"
      clockskew "2m"
      has_claim foo bar
      startswith_claim foo ba
      fail_header Access-Control-Allow-Origin *
      fail_header Foo Bar
    }

    respond / 200
  }

  log {
      level debug
      output file ./bin/access.log
    }
}